@model IEnumerable<WebApplication1.Models.Article>

@{
    ViewData["Title"] = "Shop";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Categories</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <a asp-action="Index">All Products</a>
                </li>
                @foreach (var category in ViewBag.Categories)
                {
                    <li class="list-group-item">
                        <a asp-action="Index" asp-route-categoryId="@category.Id">@category.Name</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-9">
            <h2>Articles</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Price)</th>
                        <th>@Html.DisplayNameFor(model => model.ImagePath)</th>
                        <th>@Html.DisplayNameFor(model => model.CategoryId)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td>
                                @if (item.ImagePath != null)
                                {
                                    <img src="@item.ImagePath" style="max-width: 50px; max-height: 50px;" />
                                }
                                else
                                {
                                    <img src="~/upload/default.png" style="max-width: 50px; max-height: 50px;" />

                                }

                            </td>
                            <td>
                                <span data-category-id="@item.CategoryId" data-category-name=""></span>
                            </td>
                          
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var categoriesDict = {};
        @foreach (var cat in ViewBag.Categories)
        {
            @:categoriesDict[@cat.Id] = "@cat.Name";
        }

        var spans = document.querySelectorAll('[data-category-id]');
        spans.forEach(function (span) {
            var categoryId = span.getAttribute('data-category-id');
            var categoryName = categoriesDict[categoryId] || "no category";
            span.setAttribute('data-category-name', categoryName);
            span.innerText = categoryName;
        });
    </script>
}
